#!/bin/bash

##############################################################################################
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Kernel Source:
# git clone https://github.com/alfroot/android_kernel_xiaomi_sdm710 -b lineage-20
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
##############################################################################################

##############################################
# Toolchains
# Find more on https://kali.download/nethunter-images/toolchains/
##############################################

# Kernel local name
export LOCALVERSION=-alfroot